[Desktop Entry]
Name=Tux Math 
GenericName=Educational game
GenericName[de]=Mathe Spiel
GenericName[ru]=Образовательная игра
Comment=Tux Math - Learn math with tux!
Comment[pl]=Tux Math - Ucz siê matematyki z tuxem!
Comment[de]=Tux Math - Lerne Mathe mit Tux!
Comment[ru]=Обучение арифметике с пингвином в главной роли
Exec=tuxmath
Icon=tuxmath
Type=Application
Terminal=false
Categories=Education;X-Teaching;
## X-SuSE-translate=false 
