Source: tuxmath
Section: games
Priority: optional
Maintainer: Holger Levsen <holger@debian.org>
Build-Depends: debhelper (>=5.0.42), libsdl1.2-dev, libsdl-image1.2-dev, libsdl-mixer1.2-dev, libsdl-ttf2.0-dev, libx11-6, libxext6, libsdl-pango-dev, librsvg2-dev, libsdl-net1.2-dev
Standards-Version: 3.9.2
Homepage: http://tux4kids.alioth.debian.org
Vcs-Git: git://anonscm.debian.org/tux4kids/tuxmath.git
Vcs-Browser: http://anonscm.debian.org/git/tux4kids/tuxmath.git

Package: tuxmath
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, fonts-sil-andika | ttf-sil-andika (>=1.0.basic-1)
Suggests: ttf-wqy-zenhei | ttf-arphic-uming
Description: math game for kids with Tux 
 "Tux, of Math Command" ("TuxMath," for short) is an
 educational arcade game starring Tux, the Linux mascot!
 Based on the classic arcade game "Missile Command," Tux
 must defend his cities. In this case, though, he must do
 it by solving math problems.
