#! /usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# minimise needless linking
export DEB_LDFLAGS_MAINT_APPEND= -Wl,--as-needed

%:
	dh $@  --parallel --with autoreconf

override_dh_autoreconf:
	dh_autoreconf --as-needed

override_dh_auto_configure:
	dh_auto_configure -- \
                          --host=$(DEB_HOST_GNU_TYPE) \
                          --build=$(DEB_BUILD_GNU_TYPE) \
                          --prefix=/usr \
                          --mandir=\$${prefix}/share/man \
                          --infodir=\$${prefix}/share/info \
                          --bindir=\$${prefix}/lib/tuxmath

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp

override_dh_install:
	dh_install -X*.ico -X*.icns

override_dh_installchangelogs:
	dh_installchangelogs doc/changelog

override_dh_builddeb:
	dh_builddeb -- -Zxz


