#! /usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# use hardening-wrapper
export DEB_BUILD_HARDENING=1

%:
	dh $@

override_dh_auto_configure:
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info --bindir=\$${prefix}/games
	
override_dh_install:
	rm $(CURDIR)/debian/tuxmath/usr/share/tuxmath/fonts/AndikaDesRevG.ttf
	dh_install
	mv $(CURDIR)/debian/tuxmath/usr/share/tuxmath/images/icons/tuxmath.svg $(CURDIR)/debian/tuxmath/usr/share/pixmaps/

override_dh_installdocs:
	dh_installdocs
	cd $(CURDIR)/debian/tuxmath/usr/share/doc/tuxmath && rm COPYING_GPL2 COPYING_GPL3 GPL_VERSIONS INSTALL.txt OFL.txt README_DATA_LICENSES.TXT

